/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/

ExportedObj/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.pidb.meta
*.booproj
*.svd

sysinfo.txt
.DS_Store
desktop.ini
.share_info
*.orig
*.orig.meta

Test.unity
DOTweenSettings.asset
DOTweenSettings.asset.meta
