/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
Assets/zzTest/
zzTest.meta
Assets/Store/
Store.meta
Assets/Mini-Games
Mini-Games.meta
Assets/GMC/
GMC.meta
Assets/_Stuff
_Stuff.meta

ExportedObj/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.pidb.meta
*.booproj
*.svd

sysinfo.txt
.DS_Store
desktop.ini
.share_info
*.orig
*.orig.meta

DOTweenSettings.asset
DOTweenSettings.asset.meta
UnityConnectSettings.asset
UnityAdsSettings.asset
NetWorkManager.asset
EditorSettings.asset
